services:
  web:
    build:
      dockerfile: docker/Dockerfile
      context: ..
      target: aio
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - data:/data
    env_file:
      - ../.env
    environment:
      DATA_DIR: /data

volumes:
  data:
