services:
  web:
    build:
      dockerfile: docker/Dockerfile
      context: ..
      target: aio
    restart: unless-stopped
    volumes:
      - data:/data
    environment:
      DATA_DIR: /data

volumes:
  data:
